<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap"
          rel="stylesheet" />
    <script type="text/javascript" src="index.js"></script>

    <title>Umi-Crypto-Market</title>
</head>

  <body>

      <nav>
          <div class="navbar-container">
              <div class="website-name">
                  <a >WEBSITE</a>
              </div>
                  <div class="nav-list">
                      <ul class="nav-links">
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                      </ul>
                  </div>
                
          </div>
      </nav>

      <!--MAIN DIV-->

      <div class="website">
          <!--TOP AIRDROPS-->
          <div class="main-container">
              <div class="topdrop-container">
                  <div class="topdrop-info">
                      <div class="heading"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                          similique ducimus voluptatibus nihil modi eveniet illum commodi
                          enim dolor doloremque?
                      </p>
                  </div>
                  <div class="topdrop-info">
                      <div class="heading"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                          similique ducimus voluptatibus nihil modi eveniet illum commodi
                          enim dolor doloremque?
                      </p>
                  </div>


                  <div class="view-all"><h4>View all</h4></div>
              </div>

              <div class="content-container">
                  <h3>Current Hot Airdrops</h3>
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>


              </div>
          </div>

          <!--SIDE CONTENT-->

          <div class="gainers-container">
              <div class="trending-coins side-box">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
                  excepturi placeat vero officiis accusantium ad reprehenderit minus
                  facere
              </div>
          </div>

      </div>


      <section class="news-container">
          <h3>News Today</h3>
          <div class="news-wrapper">
              <button class="left-paddle paddle hidden">
                  <
              </button>
              <div class="news">

                  <div class="news-box">
                      box-1 Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                  <div class="news-box">
                      box-2 Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                  <div class="news-box">
                      box-3 Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                  <div class="news-box">
                      box-4 Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                  <div class="news-box">
                      box-5 Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam
                  </div>

              </div>
              <button class="right-paddle paddle hidden">
                  >
              </button>
          </div>


      </section>


      <div>
          <div class="email-container">
                  <h3 class=" emailtext">Never miss on new airdrop</h3>
              <div>
                  <input class="emailadd" type="text" placeholder="Email address" name"mail" required />
              </div>
              <div>
                  <input class="emailsubmit" type="submit" value="Subscribe" />
              </div>
          </div>
      </div>


      <!--FOOTER-->

      <footer>
          <div class="footer-container text-center">
              AirDrop 2021
          </div>
      </footer>
  </body>
</html>
