<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Umi-Crypto-Market</title>
  </head>
  <body>

      <nav>
          <div class="navbar-container">
              <div class="website-name">
                  <a >WEBSITE</a>
              </div>
                  <div class="nav-list">
                      <ul class="nav-links">
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                          <li>
                              <a class="">NAVLINK</a>
                          </li>
                      </ul>
                  </div>
                
          </div>
      </nav>
      

      <!--MAIN DIV-->

      <div class="website">
          <!--TOP AIRDROPS-->
          <div class="main-container">
              <div class="header-container">
                  <div class="topdrop-info">
                      <div class="heading"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                          similique ducimus voluptatibus nihil modi eveniet illum commodi
                          enim dolor doloremque?
                      </p>
                  </div>
                  <div class="topdrop-info">
                      <div class="heading"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                          similique ducimus voluptatibus nihil modi eveniet illum commodi
                          enim dolor doloremque?
                      </p>
                  </div>
                  <div class="topdrop-info">
                      <div class="heading"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                          deleniti repellendus repellat magni asperiores atque, architecto
                          modi exercitationem unde mollitia.
                      </p>
                  </div>

                  <div class="view-all"><h3>View all</h3></div>
              </div>

              <div class="content-container">
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>
                  <div class="currentdrop-info">
                      <div class="current-head"><h3>BAT-DROP</h3></div>
                      <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
                          ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
                          perspiciatis laudantium non consequuntur distinctio quibusdam
                          laboriosam repudiandae. Perspiciatis non, distinctio possimus
                          quibusdam debitis deleniti repellat voluptas explicabo fugit
                          aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
                          laborum reprehenderit eaque ad totam.
                      </p>
                  </div>
                 
                
              </div>
          </div>

          <!--SIDE CONTENT-->
          <div class="gainers-container">


              <div class="trending-coins side-box">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
                  excepturi placeat vero officiis accusantium ad reprehenderit minus
                  facere, rerum in adipisci veniam corporis similique id. Incidunt
                  aliquid, repellendus eos eveniet ad deleniti recusandae ex temporibus
                  quaerat veniam nobis alias, dignissimos aliquam reiciendis tenetur.
                  Aspernatur similique iste atque voluptas est nulla. Sunt ducimus
                  quibusdam
              </div>
              <div class="side-box">
                 <blockquote  class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Cherokee 
                  Nation Chief Says SpaceX Starlink Will Help Tribe Members Living In Rural Oklahoma<a href="https://t.co/3MAloGdZ2o">https://t.co/3MAloGdZ2o</a></p>&mdash; Vincent Yu (@vincent13031925) <a href="https://twitter.com/vincent13031925/status/1417427520266268677?ref_src=twsrc%5Etfw">July 20, 2021</a></blockquote>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>

          </div>
          

      </div>

      <div>
          <div class="email-container">
              <div class="">
                  <h3 class=" emailtext">Never miss on new airdrop</h3>
              </div>
              <div>
                  <input class="emailadd" type="text" placeholder="Email address" name"mail" required />
              </div>
              <div>
                  <input class="emailsubmit" type="submit" value="Subscribe" />
              </div>
          </div>
      </div>


      <!--FOOTER-->

      <footer>
          <div class="footer-container">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
      </footer>
  </body>
</html>
