<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Umi-Crypto-Market</title>
  </head>
  <body>
    <div class="navbar-container">
      <h3>Navbar</h3>
    </div>
    <div class="website">
      <div class="main-container">
        <div class="header-container">
          <div class="topdrop-info">
            <div class="heading"><h3>BAT-DROP</h3></div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              similique ducimus voluptatibus nihil modi eveniet illum commodi
              enim dolor doloremque?
            </p>
          </div>
          <div class="topdrop-info">
            <div class="heading"><h3>BAT-DROP</h3></div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              deleniti repellendus repellat magni asperiores atque, architecto
              modi exercitationem unde mollitia.
            </p>
          </div>
          <div class="view-all"><h3>View all</h3></div>
        </div>

        <div class="content-container">
          <div class="currentdrop-info">
            <div class="current-head"><h3>BAT-DROP</h3></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
              ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
              perspiciatis laudantium non consequuntur distinctio quibusdam
              laboriosam repudiandae. Perspiciatis non, distinctio possimus
              quibusdam debitis deleniti repellat voluptas explicabo fugit
              aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
              laborum reprehenderit eaque ad totam.
            </p>
          </div>
          <div class="currentdrop-info">
            <div class="current-head"><h3>BAT-DROP</h3></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
              ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
              perspiciatis laudantium non consequuntur distinctio quibusdam
              laboriosam repudiandae. Perspiciatis non, distinctio possimus
              quibusdam debitis deleniti repellat voluptas explicabo fugit
              aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
              laborum reprehenderit eaque ad totam.
            </p>
          </div>
          <div class="currentdrop-info">
            <div class="current-head"><h3>BAT-DROP</h3></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione,
              ex quae delectus eos deleniti facilis. Nesciunt odit fugiat,
              perspiciatis laudantium non consequuntur distinctio quibusdam
              laboriosam repudiandae. Perspiciatis non, distinctio possimus
              quibusdam debitis deleniti repellat voluptas explicabo fugit
              aspernatur sapiente itaque molestiae ullam autem eveniet veritatis
              laborum reprehenderit eaque ad totam.
            </p>
          </div>
        </div>
      </div>
      <div class="gainers-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
        excepturi placeat vero officiis accusantium ad reprehenderit minus
        facere, rerum in adipisci veniam corporis similique id. Incidunt
        aliquid, repellendus eos eveniet ad deleniti recusandae ex temporibus
        quaerat veniam nobis alias, dignissimos aliquam reiciendis tenetur.
        Aspernatur similique iste atque voluptas est nulla. Sunt ducimus
        quibusdam
      </div>
    </div>
  </body>
</html>
